<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.stockHoldDetail.mapper.FaStockHoldDetailMapper">
    
    <resultMap type="FaStockHoldDetail" id="FaStockHoldDetailResult">
        <result property="id"    column="id"    />
        <result property="holdId"    column="hold_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="pid"    column="pid"    />
        <result property="pidCode"    column="pid_code"    />
        <result property="pidName"    column="pid_name"    />
        <result property="stockId"    column="stock_id"    />
        <result property="stockName"    column="stock_name"    />
        <result property="stockSymbol"    column="stock_symbol"    />
        <result property="allCode"    column="all_code"    />
        <result property="stockType"    column="stock_type"    />
        <result property="holdHand"    column="hold_hand"    />
        <result property="holdNumber"    column="hold_number"    />
        <result property="holdType"    column="hold_type"    />
        <result property="average"    column="average"    />
        <result property="profitLose"    column="profit_lose"    />
        <result property="resourceType"    column="resource_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="remark"    column="remark"    />
        <result property="freezeNumber"    column="freeze_number"    />
        <result property="freezeDaysLeft"    column="freeze_days_left"    />
        <result property="freezeStatus"    column="freeze_status"    />
        <result property="newStockId"    column="new_stock_id"    />
        <result property="isList"    column="is_list"    />
        <result property="isLock"    column="is_lock"    />
        <result property="buyPrice"    column="buy_price"    />
        <result property="buyPoundage"    column="buy_poundage"    />
        <result property="buyTime"    column="buy_time"    />
        <result property="sellPrice"    column="sell_price"    />
        <result property="sellPoundage"    column="sell_poundage"    />
        <result property="sellStampDuty"    column="sell_stamp_duty"    />
        <result property="sellTime"    column="sell_time"    />
        <result property="tradingHand"    column="trading_hand"    />
        <result property="tradingNumber"    column="trading_number"    />

        <association property="faMember" columnPrefix="m_" resultMap="com.ruoyi.biz.member.mapper.FaMemberMapper.FaMemberResult" />
    </resultMap>

    <sql id="selectFaStockHoldDetailVo">
        select
            shd.id,
            shd.hold_id,
            shd.member_id,
            shd.pid,
            shd.pid_code,
            shd.pid_name,
            shd.stock_id,
            shd.stock_name,
            shd.stock_symbol,
            shd.all_code,
            shd.stock_type,
            shd.hold_hand,
            shd.hold_number,
            shd.hold_type,
            shd.average,
            shd.profit_lose,
            shd.resource_type,
            shd.create_time,
            shd.update_time,
            shd.status,
            shd.delete_flag,
            shd.remark,
            shd.freeze_number,
            shd.freeze_days_left,
            shd.freeze_status,
            shd.new_stock_id,
            shd.is_list,
            shd.is_lock,
            shd.buy_price,
            shd.buy_poundage,
            shd.buy_time,
            shd.sell_price,
            shd.sell_poundage,
            shd.sell_stamp_duty,
            shd.sell_time,
            shd.trading_hand,
            shd.trading_number,
            m.id m_id,
            m.group_id m_group_id,
            m.username m_username,
            m.nickname m_nickname,
            m.password m_password,
            m.salt m_salt,
            m.salt_code m_salt_code,
            m.email m_email,
            m.mobile m_mobile,
            m.avatar m_avatar,
            m.level m_level,
            m.gender m_gender,
            m.bio m_bio,
            m.qq m_qq,
            m.money m_money,
            m.score m_score,
            m.successions m_successions,
            m.max_successions m_max_successions,
            m.prev_time m_prev_time,
            m.login_time m_login_time,
            m.login_ip m_login_ip,
            m.login_failure m_login_failure,
            m.login_failure_code m_login_failure_code,
            m.payment_code m_payment_code,
            m.join_ip m_join_ip,
            m.join_time m_join_time,
            m.create_time m_create_time,
            m.update_time m_update_time,
            m.token m_token,
            m.status m_status,
            m.verification m_verification,
            m.property_money m_property_money,
            m.balance m_balance,
            m.position_money m_position_money,
            m.freeze_money m_freeze_money,
            m.all_earnings_rate m_all_earnings_rate,
            m.transaction_num m_transaction_num,
            m.yesterday_profit m_yesterday_profit,
            m.city_value m_city_value,
            m.superior_name m_superior_name,
            m.superior_code m_superior_code,
            m.superior_id m_superior_id,
            m.institution_number m_institution_number,
            m.is_simulation m_is_simulation,
            m.position m_position,
            m.delay_money m_delay_money,
            m.sg_freeze_money m_sg_freeze_money,
            m.daili_id m_daili_id,
            m.jingzhijiaoyi m_jingzhijiaoyi,
            m.is_pz m_is_pz,
            m.is_dz m_is_dz,
            m.is_ps m_is_ps,
            m.is_sg m_is_sg,
            m.is_zs m_is_zs,
            m.is_qc m_is_qc,
            m.is_qh m_is_qh,
            m.is_inform m_is_inform,
            m.freeze_profit m_freeze_profit,
            m.zxyz m_zxyz,
            m.weiyima m_weiyima,
            m.name m_name,
            m.id_card m_id_card,
            m.auth_time m_auth_time,
            m.is_auth m_is_auth,
            m.auth_reject_reason m_auth_reject_reason,
            m.auth_reject_time m_auth_reject_time,
            m.deposit_bank m_deposit_bank,
            m.khzhihang m_khzhihang,
            m.account m_account,
            m.card_image m_card_image,
            m.is_default m_is_default,
            m.account_type m_account_type,
            m.binding_time m_binding_time,
            m.unbind_time m_unbind_time,
            m.delete_flag m_delete_flag
        from fa_stock_hold_detail shd
        left join fa_member m
        on shd.member_id = m.id
    </sql>

    <select id="selectFaStockHoldDetailList" parameterType="FaStockHoldDetail" resultMap="FaStockHoldDetailResult">
        <include refid="selectFaStockHoldDetailVo"/>
        <where>  
            <if test="id != null "> and shd.id = #{id}</if>
            <if test="holdId != null "> and shd.hold_id = #{holdId}</if>
            <if test="memberId != null "> and shd.member_id = #{memberId}</if>
            <if test="pid != null "> and shd.pid = #{pid}</if>
            <if test="pidCode != null  and pidCode != ''"> and shd.pid_code = #{pidCode}</if>
            <if test="pidName != null  and pidName != ''"> and shd.pid_name like concat('%', #{pidName}, '%')</if>
            <if test="stockId != null "> and shd.stock_id = #{stockId}</if>
            <if test="stockName != null  and stockName != ''"> and shd.stock_name like concat('%', #{stockName}, '%')</if>
            <if test="stockSymbol != null  and stockSymbol != ''"> and shd.stock_symbol = #{stockSymbol}</if>
            <if test="allCode != null  and allCode != ''"> and shd.all_code = #{allCode}</if>
            <if test="stockType != null "> and shd.stock_type = #{stockType}</if>
            <if test="holdHand != null "> and shd.hold_hand = #{holdHand}</if>
            <if test="holdNumber != null "> and shd.hold_number = #{holdNumber}</if>
            <if test="holdType != null "> and shd.hold_type = #{holdType}</if>
            <if test="average != null "> and shd.average = #{average}</if>
            <if test="profitLose != null "> and shd.profit_lose = #{profitLose}</if>
            <if test="resourceType != null "> and shd.resource_type = #{resourceType}</if>
            <if test="createTime != null "> and shd.create_time = #{createTime}</if>
            <if test="updateTime != null "> and shd.update_time = #{updateTime}</if>
            <if test="status != null "> and shd.status = #{status}</if>
            <if test="deleteFlag != null "> and shd.delete_flag = #{deleteFlag}</if>
            <if test="remark != null  and remark != ''"> and shd.remark = #{remark}</if>
            <if test="freezeNumber != null "> and shd.freeze_number = #{freezeNumber}</if>
            <if test="freezeDaysLeft != null "> and shd.freeze_days_left = #{freezeDaysLeft}</if>
            <if test="freezeStatus != null "> and shd.freeze_status = #{freezeStatus}</if>
            <if test="newStockId != null "> and shd.new_stock_id = #{newStockId}</if>
            <if test="isList != null "> and shd.is_list = #{isList}</if>
            <if test="isLock != null "> and shd.is_lock = #{isLock}</if>
            <if test="buyPrice != null "> and shd.buy_price = #{buyPrice}</if>
            <if test="buyPoundage != null "> and shd.buy_poundage = #{buyPoundage}</if>
            <if test="params.beginBuyTime != null and params.beginBuyTime != ''"><!-- 开始时间检索 -->
                AND date_format(shd.buy_time,'%y%m%d') &gt;= date_format(#{params.beginBuyTime},'%y%m%d')
            </if>
            <if test="params.endBuyTime != null and params.endBuyTime != ''"><!-- 结束时间检索 -->
                AND date_format(shd.buy_time,'%y%m%d') &lt;= date_format(#{params.endBuyTime},'%y%m%d')
            </if>
            <if test="sellPrice != null "> and shd.sell_price = #{sellPrice}</if>
            <if test="sellPoundage != null "> and shd.sell_poundage = #{sellPoundage}</if>
            <if test="sellStampDuty != null "> and shd.sell_stamp_duty = #{sellStampDuty}</if>
            <if test="params.beginSellTime != null and params.beginSellTime != ''"><!-- 开始时间检索 -->
                AND date_format(shd.sell_time,'%y%m%d') &gt;= date_format(#{params.beginSellTime},'%y%m%d')
            </if>
            <if test="params.endSellTime != null and params.endSellTime != ''"><!-- 结束时间检索 -->
                AND date_format(shd.sell_time,'%y%m%d') &lt;= date_format(#{params.endSellTime},'%y%m%d')
            </if>
            <if test="tradingHand != null "> and shd.trading_hand = #{tradingHand}</if>
            <if test="tradingNumber != null "> and shd.trading_number = #{tradingNumber}</if>
<!--            <if test="dailiId != null "> and m.daili_id = #{dailiId}</if>-->
            <if test="memberName != null "> and m.name like concat('%', #{memberName}, '%')</if>
            <if test="mobile != null "> and m.mobile like concat('%', #{mobile}, '%')</if>
        </where>
        and shd.member_id in (
            SELECT
                m.id
            FROM
                fa_member m
            WHERE
                m.daili_id IN ( SELECT #{parentId} UNION ALL SELECT u.user_id FROM sys_user u WHERE u.path LIKE concat('%,', #{parentId}, ',%') )
        )
        order by shd.id desc
    </select>
    
    <select id="selectFaStockHoldDetailById" parameterType="Integer" resultMap="FaStockHoldDetailResult">
        <include refid="selectFaStockHoldDetailVo"/>
        where shd.id = #{id}
    </select>

    <insert id="insertFaStockHoldDetail" parameterType="FaStockHoldDetail" useGeneratedKeys="true" keyProperty="id">
        insert into fa_stock_hold_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="holdId != null">hold_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="pid != null">pid,</if>
            <if test="pidCode != null">pid_code,</if>
            <if test="pidName != null">pid_name,</if>
            <if test="stockId != null">stock_id,</if>
            <if test="stockName != null">stock_name,</if>
            <if test="stockSymbol != null">stock_symbol,</if>
            <if test="allCode != null">all_code,</if>
            <if test="stockType != null">stock_type,</if>
            <if test="holdHand != null">hold_hand,</if>
            <if test="holdNumber != null">hold_number,</if>
            <if test="holdType != null">hold_type,</if>
            <if test="average != null">average,</if>
            <if test="profitLose != null">profit_lose,</if>
            <if test="resourceType != null">resource_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="freezeNumber != null">freeze_number,</if>
            <if test="freezeDaysLeft != null">freeze_days_left,</if>
            <if test="freezeStatus != null">freeze_status,</if>
            <if test="newStockId != null">new_stock_id,</if>
            <if test="isList != null">is_list,</if>
            <if test="isLock != null">is_lock,</if>
            <if test="buyPrice != null">buy_price,</if>
            <if test="buyPoundage != null">buy_poundage,</if>
            <if test="buyTime != null">buy_time,</if>
            <if test="sellPrice != null">sell_price,</if>
            <if test="sellPoundage != null">sell_poundage,</if>
            <if test="sellStampDuty != null">sell_stamp_duty,</if>
            <if test="sellTime != null">sell_time,</if>
            <if test="tradingHand != null">trading_hand,</if>
            <if test="tradingNumber != null">trading_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="holdId != null">#{holdId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="pid != null">#{pid},</if>
            <if test="pidCode != null">#{pidCode},</if>
            <if test="pidName != null">#{pidName},</if>
            <if test="stockId != null">#{stockId},</if>
            <if test="stockName != null">#{stockName},</if>
            <if test="stockSymbol != null">#{stockSymbol},</if>
            <if test="allCode != null">#{allCode},</if>
            <if test="stockType != null">#{stockType},</if>
            <if test="holdHand != null">#{holdHand},</if>
            <if test="holdNumber != null">#{holdNumber},</if>
            <if test="holdType != null">#{holdType},</if>
            <if test="average != null">#{average},</if>
            <if test="profitLose != null">#{profitLose},</if>
            <if test="resourceType != null">#{resourceType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="freezeNumber != null">#{freezeNumber},</if>
            <if test="freezeDaysLeft != null">#{freezeDaysLeft},</if>
            <if test="freezeStatus != null">#{freezeStatus},</if>
            <if test="newStockId != null">#{newStockId},</if>
            <if test="isList != null">#{isList},</if>
            <if test="isLock != null">#{isLock},</if>
            <if test="buyPrice != null">#{buyPrice},</if>
            <if test="buyPoundage != null">#{buyPoundage},</if>
            <if test="buyTime != null">#{buyTime},</if>
            <if test="sellPrice != null">#{sellPrice},</if>
            <if test="sellPoundage != null">#{sellPoundage},</if>
            <if test="sellStampDuty != null">#{sellStampDuty},</if>
            <if test="sellTime != null">#{sellTime},</if>
            <if test="tradingHand != null">#{tradingHand},</if>
            <if test="tradingNumber != null">#{tradingNumber},</if>
         </trim>
    </insert>

    <update id="updateFaStockHoldDetail" parameterType="FaStockHoldDetail">
        update fa_stock_hold_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="holdId != null">hold_id = #{holdId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="pidCode != null">pid_code = #{pidCode},</if>
            <if test="pidName != null">pid_name = #{pidName},</if>
            <if test="stockId != null">stock_id = #{stockId},</if>
            <if test="stockName != null">stock_name = #{stockName},</if>
            <if test="stockSymbol != null">stock_symbol = #{stockSymbol},</if>
            <if test="allCode != null">all_code = #{allCode},</if>
            <if test="stockType != null">stock_type = #{stockType},</if>
            <if test="holdHand != null">hold_hand = #{holdHand},</if>
            <if test="holdNumber != null">hold_number = #{holdNumber},</if>
            <if test="holdType != null">hold_type = #{holdType},</if>
            <if test="average != null">average = #{average},</if>
            <if test="profitLose != null">profit_lose = #{profitLose},</if>
            <if test="resourceType != null">resource_type = #{resourceType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="freezeNumber != null">freeze_number = #{freezeNumber},</if>
            <if test="freezeDaysLeft != null">freeze_days_left = #{freezeDaysLeft},</if>
            <if test="freezeStatus != null">freeze_status = #{freezeStatus},</if>
            <if test="newStockId != null">new_stock_id = #{newStockId},</if>
            <if test="isList != null">is_list = #{isList},</if>
            <if test="isLock != null">is_lock = #{isLock},</if>
            <if test="buyPrice != null">buy_price = #{buyPrice},</if>
            <if test="buyPoundage != null">buy_poundage = #{buyPoundage},</if>
            <if test="buyTime != null">buy_time = #{buyTime},</if>
            <if test="sellPrice != null">sell_price = #{sellPrice},</if>
            <if test="sellPoundage != null">sell_poundage = #{sellPoundage},</if>
            <if test="sellStampDuty != null">sell_stamp_duty = #{sellStampDuty},</if>
            <if test="sellTime != null">sell_time = #{sellTime},</if>
            <if test="tradingHand != null">trading_hand = #{tradingHand},</if>
            <if test="tradingNumber != null">trading_number = #{tradingNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFaStockHoldDetailById" parameterType="Integer">
        update fa_stock_hold_detail set delete_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteFaStockHoldDetailByIds" parameterType="String">
        update fa_stock_hold_detail set delete_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateFreezeDaysLeft">
        UPDATE fa_stock_hold_detail shd
        SET shd.freeze_days_left = shd.freeze_days_left - 1,
            shd.update_time = NOW()
        WHERE
            shd.STATUS = 0
          AND shd.delete_flag = 0
          AND shd.freeze_number > 0
          AND shd.freeze_days_left > 0
          AND shd.freeze_status = 0
    </update>

    <update id="updateFreezeStatus">
        UPDATE fa_stock_hold_detail shd
        SET shd.freeze_number = 0,
            shd.freeze_status = 1,
            shd.update_time = NOW()
        WHERE
            shd.freeze_days_left = 0
          AND shd.freeze_status = 0
          AND shd.delete_flag = 0
    </update>

    <select id="getDzHoldStatistics" resultMap="FaStockHoldDetailResult">
        SELECT COALESCE
               ( SUM( shd.hold_number * s.cai_trade ), 0 ) dzMarketValue,
               COALESCE ( SUM( shd.hold_number * ( s.cai_trade - shd.average )), 0 ) dzProfitLose
        FROM
            fa_stock_hold_detail shd
                LEFT JOIN fa_strategy s ON shd.stock_id = s.id
        WHERE
            shd.hold_type = 2
          AND shd.`status` = 0
          AND shd.delete_flag = 0
          AND shd.member_id = #{memberId}
    </select>

</mapper>